<div class="container site-section mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>How it works</h2>
            <p>Renting a car on our site is pretty easy.
                The procedure consists of just a few clicks,
                so you save time for thinking about the more important things
            </p>
        </div>
    </div>
    <div class="how-it-works d-flex">
        <div class="step">
            <span class="number"><span>01</span></span>
            <span class="caption">Select the desired date interval</span>
        </div>
        <div class="step">
            <span class="number"><span>02</span></span>
            <span class="caption">Choose a city</span>
        </div>
        <div class="step">
            <span class="number"><span>03</span></span>
            <span class="caption">See car offer</span>
        </div>
        <div class="step">
            <span class="number"><span>04</span></span>
            <span class="caption">Rent the desired car</span>
        </div>
        <div class="step">
            <span class="number"><span>05</span></span>
            <span class="caption">Done</span>
        </div>

    </div>
</div>