<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-right">
            &copy; Made by <a href="https://github.com/lukkov" target="_blank">lukkov</a>
        </div>
    </div>
</footer>