<div class="col-lg-5 col-md-6 col-sm-12">
    {{ form_start(form) }}
    <div class="box app-box">
        <div class="box-header with-border hide-empty">{% block form_header -%}{%- endblock form_header %}</div>

        <div class="box-body">
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        </div>
        <div class="box-footer">
            {% if not form.vars.disabled %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
</div>
